@font-face {
  font-family: "IBM Plex Sans";
  src: url("/assets/IBMPlexSans-Regular.ttf");
}

html {
  height: 100%;
  box-sizing: border-box;
  font-family: "IBM Plex Sans";
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
}

/* * {
  box-sizing: inherit;
} */

section {
  height: 100%;
}

.container {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.page-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px;
  bottom: 0;
}

#tool-page {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#tool-page > h1 {
  margin: 0;
}

#main-nav {
  margin-left: auto;
  padding-right: 1.2vw;
  display: flex;
  position: relative;
}

form {
  display: inline;
  padding: 2px;
  font-size: 1.2rem;
}

button {
  transition: box-shadow 180ms ease-in;
  cursor: pointer;
  background-color: white;
  border: none;
}

button:hover {
  box-shadow: 0px 0px 0px 5px grey;
}

.page-header,
.page-footer {
  display: flex;
  background-color: rgb(75, 70, 74);
  color: #fff;
  /* padding: 15px; */
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 1.7rem;
  padding-right: 1wv;
}

#logo-img {
  width: 45px;
  padding: 7px;
}

.sidebar-image {
  width: 60vh;
  justify-content: center;
  box-shadow: 0px 2px 15px 0px rgb(75, 70, 74);
}

.page-title {
  text-align: center;
  font-size: 2rem;
}

.page-body > article > p {
  font-size: 1.2rem;
}

.page-footer > a {
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
}

#tool-article {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

article {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  bottom: 0;
}

.article-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: flex-start;
  align-items: center;
}

.article-title {
  text-align: center;
}

#build-drone {
  width: 600px;
  justify-items: center;
  box-shadow: 0px 2px 15px 0px rgb(75, 70, 74);
}

.article-image {
  width: 20vw;
}

.additional-links {
  list-style: "\1F44D";
  font-size: 1.2rem;
}

.additional-links a {
  text-decoration: none;
}

#title {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
}

.current-page {
  font-weight: bold;
}

#splash-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shadow {
  box-shadow: 0px 2px 15px 0px rgb(75, 70, 74);
}

#flying-drone-gif {
  width: 200px;
  display: none;
  visibility: hidden;
}

#drone-instructions {
  text-align: left;
  display: none;
  visibility: hidden;
  margin: 15px;
  font-weight: bold;
}

#takeoff-location {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
